.info-card {
  margin-top: 3rem;
  width: "100%";
}

.info-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.primary-info,
.breed-info,
.color-info,
.age-info,
.gender-info,
.contact-info {
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
  width: 18rem;
  height: 14rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.icon {
  font-size: 50px;
  margin-bottom: 2rem;
  color: #eb6864;
}

.actions {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.action-btn {
  margin: 8px 4px;
  width: 15rem;
}
