.pet__container {
  text-align: center;
}

.pet__container img {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.petList__container {
  text-align: center;
  display: grid;
  place-items: center;
}
.petList__column {
  margin-bottom: 40px;
}

.pet__button {
  bottom: 0;
}

.petInfo {
  margin-bottom: 30px;
}

.petInfo img {
  margin-left: auto;
  margin-right: auto;
  width: 69%;
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.card-img-top {
  height: 300px;
  width: 100%;
}

.inputContainer {
  flex: 1;
}

.petList__container .card-img-top {
  width: 90%;
  height: 200;
  align-self: center;
  border-radius: 4;
}
.card{
  width: "100%";
  padding-top: 10;
}
.cardTitle{
  white-space: 'nowrap';
  overflow: "hidden";
  text-overflow: "ellipsis";
}
