.pet__container {
  text-align: center;
}

.pet__container img {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.petList__container {
  text-align: center;
  display: grid;
  place-items: center;
}
.petList__column {
  margin-bottom: 40px;
}

.pet__button {
  bottom: 0;
}

.petInfo {
  margin-bottom: 30px;
}

.petInfo img {
  margin-left: auto;
  margin-right: auto;
  width: 69%;
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.card-img-top {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.inputContainer {
  flex: 1;
  max-width: 340px;
}

.petList__container .card-img-top {
  width: 90%;
  height: 200;
  align-self: center;
  border-radius: 4;
}

.petList__container .card {
  margin: 10px auto;
  padding-top: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  width: 20rem;
  box-shadow: 5px 5px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.petList__container .card__header {
  background-color: #fff;
}

.petList__container .card-title {
  text-align: center;
  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;

  color: #000000;
}

.petList__container .petList {
  min-width: 0;
}

.petType {
  position: relative;
  width: 100%;
}

.image__rand_img{
  display: block;
  width: 100%;
}

.image__img {
  display: block;
  width:  250px;
  height: 250px;
  object-fit: scale-down;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10%;
  color: greenyellow;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.spinner_loading {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}


.rmv-btn-container {
  display:flex;
}

.rmv__btn {
  background: #da4b4b;
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

