.profile__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  height: 18rem !important;
  width: 100%;
}

.profile__img {
  width: 194px;
  height: 194px;
  border: 2px solid black;
  margin-top: -120px;
}

.blank {
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(145deg, #375ee3 0%, #6543e0 80%);
}
.story__bg {
  background: gray;
}

.story-card {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 8px;
  margin: 2rem auto;
}
.card-body {
  padding: 0.5rem 1.5rem;
}
.story-title {
  margin: 0.5rem auto;
}

.profile--banner {
  height: 18rem;
  width: 100%;
  background: linear-gradient(145deg, var(--bs-primary) 0%, #6543e0 80%);
}
