.main_title {
  position: relative;
  margin-bottom: 2em;
}
.stories {
  text-align: center;
}
.story_btn {
  position: absolute;
  top: 0.5em;
  right: 3em;
}
.formContainer,
.error-dsp {
  width: 95%;
  margin: auto;
}
.str-form-label {
  display: block;
  font-weight: bold;
  margin: 0.5em 0em 0.3em 0em;
}
.country,
.region {
  display: inline-block;
  width: 100%;
  border: solid 0.5px #ced4da;
  border-radius: 4px;
  padding: 0.4em;
}
.btnContainer {
  text-align: right;
  vertical-align: middle;
}
.mBtn {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  color: #fff;
  margin: 4px;
  padding: 6px 16px;
  border-radius: 0.25rem;
  border: none;
}
.clearBtn {
  background: #1597e5;
  height: 38px;
  border-color: #1597e5;
}
.closeBtn {
  height: 38px;
  background: #d5d5d5;
  border-color: #d5d5d5;
}
.saveBtn {
  margin-top: -1px;
}
.clearBtn:hover,
.clearBtn:visited {
  background: #113cfc;
  border-color: #113cfc;
  box-shadow: #113cfc;
}
.closeBtn:hover,
.closeBtn:visited {
  background: #c8c6c6;
  border-color: #c8c6c6;
  box-shadow: #c8c6c6;
}
.alert {
  width: 90%;
  margin: auto;
}
@media (max-width: 990px) {
  .story_btn {
    position: relative;
    display: block;
    top: 0em;
    right: 0em;
  }
}
