.register__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register__container_form {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid rgb(184, 184, 184);
  background-color: #f0f0f0;
  border-radius: 25px;
}

.register__title {
  margin-bottom: 80px;
}

.register__form {
  width: 40%;
  min-width: 250px;
}

.register__button {
  width: 100%;
  margin-top: 15px;
}
