.tips__container {
  text-align: center;
  margin-top: 2rem;
}

.tips__container .btn {
  margin: 10px;
}
.tips__container p {
  text-align: left;
}
.tips__container span,
.resource__paragraph-bold {
  font-weight: bold;
}
