@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arvo&display=swap");

.home__background {
  background: url("./homehero.png");
}
.rotate {
  animation: rotation 1.3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}