@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arvo&display=swap");

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  width: 100%;
  height: 90vh;
  background: url("https://cdn.pixabay.com/photo/2018/09/19/15/52/puppy-3688871_1280.jpg");
  background-size: cover;
  background-position-y: center;
  margin: 0 0 1rem 0;
}

.dark__overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.602), rgb(213 94 91 / 41%));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  backdrop-filter: blur(3px);
}

.home__container #dog {
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
  position: relative;
  animation-name: dogAnimate;
  animation-duration: 1s;
  animation-iteration-count: 3;
  margin-bottom: 60px;
}

.featured__pets {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button__style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__container .featured__pets .card-top-container {
  width: 90%;
  height: 200;
  align-self: center;
  border-radius: 4;
}

.home__container .card {
  margin: 10px;
  padding-top: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  width: 20rem;
  box-shadow: 5px 5px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

@media (max-width: 990px) {
  .home__container .col-12 {
    width: 20rem;
    margin: 0 auto;
  }
  .hero {
    height: 35vh;
  }
}

.cardBody {
  flex: 1;
  align-self: center;
}
.home__container .card-title {
  text-align: center;
  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;

  color: #000000;
}

.home__container .card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;

  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;

  color: #da4b4b;
}

.home__container .card__btn {
  background: #da4b4b;
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
  white-space: nowrap;
}

.home__container .card__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 2px;
}

.card-img {
  width: auto;
  height: 211.2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__container .col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.refresh {
  margin-bottom: 5px;
}
