
@keyframes dogAnimate {
    0%   {  top:0px;}

    50% {  top:50px;}
    
      100% {  top:0px;}
  }

.home__container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.home__container #dog{
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    display: block;
    position: relative;
    animation-name: dogAnimate;
    animation-duration: 1s;
    animation-iteration-count: 3;
    margin-bottom: 60px;
}

.featured__pets{
    margin:40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



