@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Arvo&display=swap");

@keyframes dogAnimate {
  0% {
    top: 0px;
  }

  50% {
    top: 50px;
  }

  100% {
    top: 0px;
  }
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__container #dog {
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
  position: relative;
  animation-name: dogAnimate;
  animation-duration: 1s;
  animation-iteration-count: 3;
  margin-bottom: 60px;
}

.featured__pets {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button__style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__container .featured__pets .card-top-container {
  width: 90%;
  height: 200;
  align-self: center;
  border-radius: 4;
}

.home__container .card {
  margin: 10px;
  padding-top: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  width: 293px;
  box-shadow: 5px 5px 13px -10px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.cardBody {
  flex: 1;
  align-self: center;
}
.breed {
  font-weight: 500;
}
.home__container .card-title {
  text-align: center;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;

  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;

  color: #da4b4b;
}

.card__btn {
  background: #da4b4b;
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}

.card-img {
  width: 293px;
  height: 211.2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__title {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;

  color: #000000;
}
