.kofi__image {
  border: 0px;
  /* height: 36px; */
  height: auto;
  width: 200px;
  margin-bottom: 1.2rem;
}

.donate .card-img-top {
  height: auto;
}

.kofi__section {
  margin-top: 15px;
  margin-bottom: 15px;
}

.charity__section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.donate .card {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: -1px;
  position: relative;
  width:100%;
  border: solid #bdbdbd 1px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.donate .btn {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

#dropdown {
  text-transform: capitalize;
  padding: 0.4rem;
  border-radius: 12px;
  background-color: whitesmoke;
}

.filtering label {
  margin-right: 10px;
  font-size: 1.2rem;
}

.kofi__section__donate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
