.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > div {
  margin: 15px 0;
}

.settings-update-area {
  display: flex;
  flex-direction: row;
  justify-items: space-around;
}
